/* Asterisk Wildcard Selector to Override Default Settings of the Browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Body Style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: sans-serif, Georgia, serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navigation Bar with Drop down */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /*Style to Push the Footer down*/
    flex: 1 0 auto;
    margin-top: 75.2px;
}

/* Gym Exercise image*/
#exercise {
    background: url("../images/exercise1.jpg") no-repeat center center/cover;
    height: 600px;
    width: 100%;
}

#training {
    width: 90%;
    margin: 20px auto;
}

#training h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#sessions > div, #packages > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#different-sections p {
    padding: 0 20px;
}

#home-circular-image {
    background: url("../images/exercise4.jpg") no-repeat center center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#major-training-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media li {
    font-size: 100%;
    padding: 1%;
    color: #3a3a3a;
}

#social-media a {
    text-decoration: none;
}

/* Media Query for Tablets and Higher Sizes*/
@media screen and (min-width : 768px) {
    /* Header */
    nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1em;
    }
    
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 75px;
    }

    #sessions, #packages{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #sessions > div, #packages > div {
        width: 75%;
    }

    /*#packages {
        text-align: end;
        align-self: flex-end;
        
    } */
}

/* Media Query for Laptop and larger Screen Sizes*/
@media screen and (min-width : 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
    
}

/* Media query for screen 1200px */
@media screen and (min-width : 1200px) {
    #different-sections {
        display: flex;
        flex-direction: row;
    }
    #different-sections > div {
        flex: 1;
    }
    #major-training-pic {
        order: 0;
    }
    #packages {
        order:1
    }
    #packages > div {
        align-self: flex-start;
    }
    #sessions > div {
        align-self: flex-end;
    }
}